* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.7;
    position: relative;
}

/**************************** HOME SECTION *******************************/

/* MAIN-LOGO */

.main-logo {
    -webkit-box-shadow: 0px 7px 10px 0px rgba(153, 147, 153, 0.68);
    -moz-box-shadow: 0px 7px 10px 0px rgba(153, 147, 153, 0.68);
    box-shadow: 0px 7px 10px 0px rgba(153, 147, 153, 0.68);
    background-color: lightgrey;
    color: #333333;
    padding: 0px 40px;
    max-height: 50px;
}

.logo-title {
    float: left;
}

.logo-title a h3 {
    color: #333333;
    transition: 0.5s;
}
.logo-title a {
    text-decoration: none;
}

.logo-title a h3:hover {
    opacity: 0.4;
    
}

.logo-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

.logo-icons {
    float: right;
}

.logo-icons a {
    text-decoration: none;
    color: #333333;
}

.logo-icons a:visited {
    color: #333333;
}

.logo-icons a ion-icon {
    font-size: 25px;
    padding: 10px 10px;
    transition: 0.5s;
}

.logo-icons a ion-icon:hover {
    opacity: 0.4;
}

.main-logo:after {
    content: '';
    display: block;
    clear: both;
}

/* HEADER */

header {
    height: 100px;
    width: 100%;
    margin: 20px 0;
}

header a {
    text-decoration: none;
}

header a h1 {
    text-decoration: none;
    color: #333333;
    text-align: center;
    letter-spacing: 2px;
    transition: 0.5s;
    padding-top: 20px;
}

header a h1:hover {
    opacity: 0.4;
}

/* NAV */

nav {
    width: 100%;
    height: 60px;
    background-color: white;
    margin: 0;
}

nav>ul {
    margin-right: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

nav>ul>li {
    list-style-type: none;
    display: inline-block;
    width: 24%;
}

.nav_list a {
    text-decoration: none;
    color: black;
    padding: 30px;
    line-height: 60px;
    font-size: 20px;
    transition: 0.5s;
}

nav>ul>li>a:hover {
    opacity: 0.4;
}


/* MAIN-DIV */

.main-div {
padding-bottom: 40px;
}

/**************************** ABOUT STORE SECTION ************************/
/**************************** PRODUCTS SECTION ***************************/
/**************************** CONTACT SECTION ****************************/
