* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.7;
    position: relative;
}

/**************************** HOME SECTION *******************************/

/* MAIN-LOGO */

.main-logo {
    -webkit-box-shadow: 0px 7px 10px 0px rgba(153, 147, 153, 0.68);
    -moz-box-shadow: 0px 7px 10px 0px rgba(153, 147, 153, 0.68);
    box-shadow: 0px 7px 10px 0px rgba(153, 147, 153, 0.68);
    background-color: #936088;
    color: #333333;
    padding: 0px 40px;
    max-height: 50px;
}

.logo-title {
    float: left;
}

.logo-title a h3 {
    color: #333333;
    transition: 0.5s;
    font-size: 22px;
}
.logo-title a {
    text-decoration: none;
}

.logo-title a h3:hover {
    color: white;
    
}

.logo-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

.cart {
    float: right;
}

.cart a {
    text-decoration: none;
    color: #333333;
}

.cart a:visited {
    color: #333333;
}

.cart a ion-icon {
    font-size: 25px;
    padding: 10px 10px;
    transition: 0.5s;
}

.cart a ion-icon:hover {
    color: white;
}

.main-logo:after {
    content: '';
    display: block;
    clear: both;
}

/* HEADER */

header {
    height: 100px;
    width: 100%;
    margin: 20px 0;
}

header a {
    text-decoration: none !important;
}

header a h1 {
    text-decoration: none;
    color: #333333;
    text-align: center;
    letter-spacing: 2px;
    transition: 0.5s;
    padding-top: 20px;
}

header a h1:hover {
    opacity: 0.4;
}

/* NAV */

nav {
    height: 60px;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

nav>ul {
    margin-right: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

nav>ul>li {
    list-style-type: none;
    display: inline-block;
    width: 24%;
}

.nav_list a {
    text-decoration: none;
    color: black;
    padding: 30px;
    line-height: 60px;
    font-size: 20px;
    transition: 0.5s;
}

nav>ul>li>a:hover {
    opacity: 0.4;
}


/* MAIN-DIV */

.main-div {
padding-bottom: 40px;
}

/* FOOTER */
footer {
    background-color:  #936088;
    color: #333333;
    padding: 20px 40px;
}


.footer-text {
    float: left;
    padding-top: 17px;
    font-weight: bold;
    font-size: 20px;
}

.footer-text ion-icon {
    color: red;
}

.footer-text p {
    margin-top: 0;
    margin-bottom: 0;
}

.social {
    float: right;
    margin-top: 12px;
}

.social a {
    text-decoration: none;
}

.social a:visited {
    color: #333333;
}

.social a ion-icon {
    font-size: 25px;
    padding: 10px 10px;
}

.social a ion-icon:hover {
    color: white;
    transition: all 0.5s ease;
}

footer:after {
    content: '';
    display: block;
    clear: both;
}
/**************************** ABOUT STORE SECTION ************************/
.cards_field {
    width: 100%;
}

.div_card {
    margin: 10px 0;
}

.p_card {
    font-size: 18px;
    text-align: justify;
}

.img-about {
    padding: 20px;
    height: 450px
}


/**************************** PRODUCTS SECTION ***************************/

.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.image img {
    width: 180px;
}


.add-cart {
    position: absolute;
    width: 100%;
    background-color:  #936088;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: black;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 65px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
    color: black;
}

/**************************** CONTACT SECTION ****************************/
#contact-div {
    width: 100%;
    height: 100vh;
}

.contact_media {
    width: 100vw;
    text-align: center;
    bottom: 0;
    right: 0;
    position: fixed;
}

.fb {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background-color: #4668b3;
}

.fb:hover {
    opacity: 0.8;
}

.ig {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background-color: #e1306c;
}

.ig:hover {
    opacity: 0.8;
}

.phone {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background-color: #53d769;
}

.phone:hover {
    opacity: 0.8;
}

.mail {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background-color: #d95333;
}

.mail:hover {
    opacity: 0.8;
}

/**************************** BASKET SECTION ****************************/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}